@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Rimuove qualsiasi margine e padding indesiderato */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Imposta lo sfondo per tutta la viewport */
html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Evita lo scrolling */
    background-color: #faefe2; /* Sfondo uniforme */
}

/* Contenitore principale */
#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faefe2; /* Colore coerente */
}