.timer-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px; /* Maggiore distanza tra gli elementi */
    margin-top: 20px;
  }
  